
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Poppins:wght@300&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
    list-style: none;
    
}
a{
    text-decoration: none;
    
}
.box{
    background-color: black;
}
.logo{
    width: 170px;
    height: 41px;
    background-size: 170px 41px;
    background-image: url("./Images/Logo.svg");    
}
.nav{
    width: 1280px;
    height: 99px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.links{
    width: 488px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.link{
    color: white;
    font-family: "Roboto";
    font-size: 18px;
}
.btns{
    width: 213px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.log{
    border: none;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: 'Roboto';
    transition: 1s;
}
.btn{
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 40px;
    border:none;
    cursor: pointer;
    
}
.reg{
    width: 129px;
    height: 42px;
    background-color: white;
    color: black;
    transition: 1s;
}
.btn:hover{
    scale: 0.95;
    transition: 300ms;
}
.btn:active{
    scale: 1.05;
    transition: 300ms;
}
.window{
    display: none;
}
.icon{
    width: 24px;
    height: 24px;
    border: 1px solid;
    background-image: url("/Images/icon.png");
    display: none;
}
.menu{
    display: none;
}
@media only screen and (max-width:400px){
    .container{
        width: 375px;
        padding: 0;
    }
    .btn:hover{
        scale: 1;
    }
    .btn:active{
        scale: 1.10;

    }
    .nav{
        width: 339px;
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }   
    .links,.btns{
        display: none;
    }
    .logo{
        width: 40px;
        height: 40px;
        background-size: 40px 40px;
        margin-top: 24px;
        margin-left: 18px;
        background-image: url("/Images/Vector.svg");
    }
    .menu{
        width: 24px;
        height: 24px;
        margin-top: 32px;
        display: block;
    }
}

.hero{
    width: 1280px;
    height: 801px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    width: 700px;
    height: 337px;
    margin: 99px 370px;
}
.h1{
    font-size: 72px;
    color: white;
    font-weight: bold;
    font-family: "Poppins";
    text-align: center;
}
.p{
    color: #8B8B8B;
    font-size: 18px;
    font-family: "Inter";
    width: 666px;
    text-align: center;
}
.btn-arrow{
    width: 297px;
    height: 70px;
    display: flex;
    align-items: bottom;
    justify-content: space-between;
    margin-top: 40px;
    margin-left: 180px;
}
.hero-btn{
    width: 180px;
    height: 57px;
    background-color: #A8FF35;
    font-weight:900;
    color: black;
}
.rotate{
    margin-left: 50px;
    width: 1076px;
    height: 178px;
}
.rotated{
    width: 341px;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #181818;
    box-shadow: 4px 4px 3px rgb(0, 0, 0);
    
}
.rotated span{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.trends:nth-child(1){
    position: relative;
    rotate: -4deg;
    z-index: 4;
}
.trends:nth-child(2){
    position: relative;
    margin-left: 202px;
    margin-top: -23px;
    rotate: 2deg;
    z-index: 3;
}
.trends:nth-child(3){
    position: relative;
    z-index: 2;
    margin-left: 440px;
    margin-top: -135px;
    rotate: -2deg;
}
.trends:nth-child(4){
    position: relative;
    z-index: 1;
    margin-left: 708px;
    margin-top: -30px;
    rotate: 4deg;
}
.trend-p{
    margin-left: 13px;
    color: white;
    font-family: "Inter";
}

@media only screen and (max-width:400px){
    .hero{
        width: 375px;
        height: 724px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .text{
        width: 340px;
        height: 256px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .h1{
        font-size: 36px;
    }
    .p{
        font-size: 14px;
        width: 286px;
    }
    .btn-arrow{
        width: 139px;
        height: 42px;
        margin: 0;
    }
    .btn-arrow img {
        display: none;
    }
    .rotate{
        margin: 0;
        width: 304px;
        height: 308px;
        display: flex;
        flex-direction: column;
    }
    .rotated{
        width: 291px;
        height: 61px;
    }
    .trends:nth-child(1){
        margin: 0;
    }
    .trends:nth-child(2){
        margin: 0;
    }
    .trends:nth-child(3){
        margin: 0;
    }
    .trends:nth-child(4){
        margin: 0;
    }
}
/*                       BODY  
SECTION SHIT */
.shit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 742px;
    background-color:#A8FF35 ;
}
.sh-box{
    width: 854px;
    height: 452px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.h2{
    font-size: 72px;
    font-weight: bold;
    font-family: "Poppins";
}
.elon{
    width: 745px;
    height: 202px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.true-elon{
    width: 502px;
    height: 202px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 16px;
    background-color: #F5F5F5;
}
.sh-p{
    width: 666px;
    text-align: center;
    font-family: "Roboto";
    font-size: 18px;
    color: black;
}
@media only screen and ( max-width:400px){
    .shit{
        width: 375px;
        height: 541px;
    }
    .sh-box{
        width: 347px;
        height: 381px;
    }
    .h2{
        width: 347px;
        font-size: 32px;
    }
    .elon{
        width: 342px;
        height: 231px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .true-elon{
        width: 339px;
        height: 138px;

    }
    .need{
        content: url("/Images/Group\ 427321658.png");
        width: 99px;
        height: 67px;
        margin-left: 221px;
    }
    .solution{
        content: url("/Images/Group\ 427321661.png");
        width: 93px;
        height: 64px;
        margin-right: 221px;
    }
    .sh-p{
        font-size: 14px;
        width: 286px;
        text-align: center;
    }
}

/* SECTION 2  */
.memory{
    height: 584px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.memory-text{
    width: 1160px;
    height: 304px;
    
}
.memory-h3{
    width: 1140px;
    height: 304px;
    text-align: start;
    font-size: 54px;
    font-weight: bold;
    font-family: "Poppins";
}
.memory-h3 span{
    color: #ADADAD;
}

@media only screen and (max-width:400px){
    .memory{
        height: 600px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .memory-text{
        width: 335px;
        height: 387px;
    }
    .memory-h3{
        width: 335px;
        height: 387px;
        font-size: 34px;
    }
}
/* section 3 */
.startup{
    display: flex;
    align-items: center;
    justify-content: center;
}
.startup-box{
    width: 1160px;
    height: 732px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.startup-h3{
    font-size: 54px;
    text-align: center;
    font-weight: bold;
    font-family: "Poppins";
}
.list-box{
    width: 1160px;
    height: 576px;
    display: flex;
    flex-direction: column;
    row-gap: 32px;
}
.startup-list{
    width: 1160px;
    list-style: none;
    display: flex;
    justify-content: space-between;  
    
}
.startup-idea{
    width: 266px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border-radius: 10px;
}


@media only screen and (max-width:400px){
    .startup{
        margin-top: 160px;
    }
    .startup-box{
        width: 337px;
        height: 808px;
    }
    .startup-h3{
        font-size: 34px;
    }
    .list-box{
        width: 339px;
        height: 690px;
        row-gap: 12px;
    }
    .startup-list{
        width: 339px;
        height: 162px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .startup-idea{
        width: 162px;
        height: 74px;
    }
    .startup-img:nth-child(1){
        width: 115px;
        height: 24px;

    }
    .startup-img:nth-child(2){
        width: 95px;
        height: 24px;
    }
    .startup-img:nth-child(3){
        width: 88px;
        height: 26px;
    }
    .startup-img:nth-child(4){
        width: 105px;
        height: 14px;
    }   
}

.tweet{
    height: 2202px;
    margin-top: 140px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tweet-h3{
    font-size: 64px;
    font-family: "Poppins";
    color: #000000;
}
.tweet-list{
    width: 1124px;
    height: 124px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.platforms{
    width: 124px;
    height: 124px;
    border-radius: 20px;
    background-color: #fff  ;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 500ms;
}
.clicked{
    background-color: #A8FF35;

}
.tweet-elon{
    width: 800px;
    height: 1572px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.tweet-btn{
    width: 198px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #000000;
    font-size: 18px;
    font-family: "Roboto";
}

@media only screen and (max-width:400px){
    .tweet{
        width: 375px;
        height: 982px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .tweet-h3{
        font-size: 34px;
        text-align: center;
    }
    .tweet-list{
        width: 304px;
        height: 64px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .platforms{
        width: 64px;
        height: 64px;

    }
    .platforms img {
        width: 31px;
        height:  31px;
    }
    .tweet-elon{
        width: 339px;
        height: 684px;
    }
    .tweet-tweets1{
        width: 339px;
        height: 116px;
    }
    .tweet-tweets2{
        width: 339px;
        height: 344px;
    }
    .tweet-tweets3{
        width: 339px;
        height: 116px;
    }
    .tweet-btn{
        width: 152px;
        height: 44px;
        font-size: 14px;
    }
}

.switch-btn {
    display: inline-block;
    width: 104px; /* ширина переключателя */
    height: 52px; /* высота переключателя */
    border-radius: 99px; /* радиус скругления */
    background: #ffffff; /* цвет фона */
    z-index: 0;
    margin: 0;
    padding: 0;
    border: none;
    cursor: pointer;
    position: relative;
    transition-duration: 300ms; /* анимация */
}
.switch-btn::after {
    content: "";
    height: 36px; /* высота кнопки */
    width: 36px; /* ширина кнопки */
    border-radius: 18px; /* радиус кнопки */
    background: #A8FF35; /* цвет кнопки */
    top: 8px; /* положение кнопки по вертикали относительно основы */
    left: 8px; /* положение кнопки по горизонтали относительно основы */
    transition-duration: 300ms; /* анимация */
    box-shadow: 0 0 10px 0 #999999; /* тень */
    position: absolute;
    z-index: 1;
}
.swith-on {
    background: #fff;
    /* box-shadow: inset 0 0 10px 0 #999999; тень */
}
.swith-on::after {
    left: 52px;
}




.deal{
    height: 1128px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #000000;
}
.deal-h3{
    text-align: center;
    font-size: 64px;
    font-family: "Poppins";
    color: white;
}
.deal-info{
    width: 429px;
    margin-left: 460px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.monthly{
    font-size: 24px ;
    color: #f5f5f58e;
    font-family: "Roboto";
    transition-duration: 300ms;

}
.yearly{
    font-size: 24px ;
    color: #f5f5f58e;
    font-family: "Roboto";
    transition-duration: 300ms;

}
.active{
    color: white;
}
.deal-list{
    width: 1160px;
    height: 640px;
    margin-top: 52px;
    margin-left: 60px;
    display: flex;
    justify-content: space-evenly;
}
.deal-item{
    width: 360px;
    height: 640px;
    background-color: #fafafa;
    border-radius: 16px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}
.deal-item:nth-child(2){
    background-color: #A8FF35;
}
.deal-item:nth-child(2) button{
    background-color: black;
    color: white;
}
.deal-h4{
    font-size: 36px;
    font-family: "Poppins";
}
.info-info{
    font-size: 16px;
    font-family: "Inter";
    color: black;
    font-weight: bold;
}
.advantages{
    width: 296px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    border-top: 1px solid #5f5f5f;
    padding-top: 32px;
}
.money{
    font-size: 64px;
    font-family: "Poppins";
}
.money span{
    font-size: 18px;
}
.info-list{
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.list-item{
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info-p{
    font-size: 18px;
    font-family:  "Inter";
}
.deal-btn{
    width: 296px;
    height: 58px;
    border-radius: 29px;
    background-color: #A8FF35;
}

@media screen and (max-width:400px){
    .deal{
        height: 2213px;
        margin-top: 80px;
    }
    .deal-h3{
        font-size: 34px;
    }
    .deal-info{
        width: 277px;
        height: 106px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 32px 41px;
    }
    .deal-info img {
        width: 63px;
        height: 66px;
        content: url("/Images/2828.png");
        margin-left: 200px;
    }
    .deal-list{
        width: 339px;
        height: 1854px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        margin-left: 18px;
    }
    .deal-item{
        width: 339px;
        height: 602px;
        padding: 30;
    }
    .deal-h4{
        font-size: 30px;
    }
    
    .advantages{
        width: 280px;
        height: 460px;
        display: flex;
        justify-content: space-between;
    }
    .money{
        font-size: 60px;
    }
    .deal-btn{
        width: 278px;
        height: 54px;
    }
}

.email{
    height: 539px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A8FF35;
}
.email-text{
    width: 740px;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.email-h3{
    width: 760px;
    height: 230px;
    font-size: 72px;
    font-family: "Poppins";
}
.email-h3 span {
    color: #87D322;
}
.email-btn{
    width: 180px;
    color:white;
    height: 57px;
    margin-top: 40px;
    background-color: #000000;
}

@media only screen and (max-width:400px){
    .email{
        height: 316px;

    }
    .email-text{
        width: 340px;
        height: 170px;

    }
    .email-h3{
        font-size: 32px;
        width: 340px;
        height: 80px;
    }
    .email-btn{
        width: 106px;
        height: 44px;
        font-size: 14px;
        
        
    }
}
.footer{
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
}
.footer-nav{
    width: 1260px;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links{
    width: 544px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-links a {
    font-size: 18px;
    color: #000000;
    font-family: "Roboto";
}
@media only screen and (max-width:400px){
    .footer{
        height:  473px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        border: 1px solid;
    }
    .footer-nav{
        width: 170px;
        height: 313px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer-links{
        width: 180px;
        height: 192px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
    }
    .footer-links a{
        font-size: 18px;
    }
}